<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Login Page</title>
    <!--<link href="/css/bootstrap.css" rel="stylesheet" type="text/css">-->
    <link href="/css/login-style.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
<div class="container">
    <div class="row justify-content-center" style="margin-top: 50px">
        <h1>Login 기능 테스트</h1>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <label for="input-login-username" class="form-label">Username</label>
            <input type="text" class="form-control" id="input-login-username" placeholder="Username" required>
            <div class="valid-feedback">
                Looks Good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid usernmae
            </div>
            <label for="input-login-password" class="form-label">Password</label>
            <input type="password" class="form-control" id="input-login-password" placeholder="Password"
                   required>
            <div class="valid-feedback">
                Looks Good!
            </div>
            <div class="invalid-feedback">
                Please provide a valid password
            </div>
            <button type="button" class="btn btn-primary" id="btn-login">로그인</button>

            <button type="button" class="btn btn-outline-info" id="btn-join" onclick="location.href='/join'">
                회원가입
            </button>
            <div class="row justify-content-center" id="find-wrap">
                <a id="a-findUsername" href="#">아이디 찾기</a>
                <span class="bar" aria-hidden="true">|</span>
                <a id="a-findPW" href="#">비밀번호 찾기</a>
            </div>
        </div>
    </div>

    <hr>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="row justify-content-center">
                <small>또는, 소셜 로그인</small>
            </div>

            <div class="row justify-content-between" style="margin-top: 20px">
                <div class="col col-sm-1 col-md-2">
                    <a href="/oauth2/authorization/kakao"><img src="/image/kakao_login_medium.png"></a>
<!--                    <a href="https://kauth.kakao.com/oauth/authorize?client_id=6ef8661b32d8400a24222850b649ad85&redirect_uri=http://localhost:8080/login/oauth2/code/kakao&response_type=code"><img src="/image/kakao_login_medium.png"></a>-->
                </div>
                <div class="col col-sm-1 col-md-2">
                    <a href="/oauth2/authorization/naver"><img src="/image/btn_naver_login.png" style="height: 45px;width: 110px"></a>
<!--                    <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=K8U37cGZCMT8G9HBnHa9&state=state&redirect_uri=http://localhost:8080/login/oauth2/code/naver"><img src="/image/btn_naver_login.png" style="height: 45px;width: 110px"></a>-->
                </div>
                <div class="col col-sm-2 col-md-4">
                    <a href="/oauth2/authorization/google"><img src="/image/btn_google_signin_dark_normal_web.png" style="height: 45px;width: 180px"></a>
<!--                    <a href="https://accounts.google.com/o/oauth2/v2/auth?client_id=986673395771-5hs9a0e3keolbsa9rvc0ologqrq21vlm.apps.googleusercontent.com&redirect_uri=http://localhost:8080/login/oauth2/code/google&response_type=code&scope=profile"><img src="/image/btn_google_signin_dark_normal_web.png" style="height: 45px;width: 180px"></a>-->
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="/js/login-script.js"></script>
</body>
</html>